@import "./color";
* {
  margin: 0;
  padding: 0;
}
@mixin max-width980px {
  max-width: 980px;
  width: 100%;
}
@mixin navigation-list {
  @include max-width980px;
  height: 100%;
  padding: 0 22px;
}
.global-navigation {
  width: 100%;
  height: 44px;
  background-color: $header;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .list {
    @include max-width980px;
    @include navigation-list;
    .glo-items {
      height: 100%;
      margin: 0 -8px;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
    }
  }
}
.local-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: saturate(180%) blur(20px);
  .list {
    @include max-width980px;
    @include navigation-list;
    .items {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu-tray {
        display: flex;
        align-items: center;
      }
      .buy-button {
        text-align: center;
        min-width: 23px;
        margin-left: 24px;
        padding: 4px 11px;
        font-size: 12px;
        font-weight: 300;
        background-color: #0071e3;
        color: #fff;
        border-radius: 980px;
        line-height: 1.33337;
      }
    }
  }
}
.main {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .hero-section-iPhone-left-hand-maskImage {
      z-index: 1;
      mask-image: url("../src/images/hero_iphone_14_mask__5z4yqeh79qay_medium_2x.svg");
      mask-size: 590px 998px;
      mask-repeat: no-repeat;
      mask-position: center;

      -webkit-mask-image: url("../src/images/hero_iphone_14_mask__5z4yqeh79qay_medium_2x.svg");
      -webkit-mask-size: 590px 998px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
    .hero-section-iPhone-right-hand-maskImage {
      z-index: 1;
      mask-image: url("../src//images/hero_iphone_14_plus_mask__gmfrhdlwc5aq_medium_2x.svg");
      mask-size: 622px 998px;
      mask-repeat: no-repeat;
      mask-position: center;

      -webkit-mask-image: url("../src//images/hero_iphone_14_plus_mask__gmfrhdlwc5aq_medium_2x.svg");
      -webkit-mask-size: 622px 998px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
    .hero-section-battery-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 30%;
      width: 500px;
      .battery-fill {
        position: absolute;
        top: 0;
        right: 0;
        width: 172px;
        height: 86px;
        background-color: white;
        border-radius: 10px;
      }
    }
    .hero-section-safety-container {
      box-sizing: border-box;
      position: relative;
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      .safety-circle {
        border-radius: 50%;
        border: 2px solid #ff3b30;
        position: absolute;
      }
    }
    .hero-section-manifesto-camera {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 110vh;
      overflow: hidden;
      h1 {
        text-align: center;
        max-width: 720px;
      }
      img {
        width: 80%;
        margin-top: 5%;
        margin-left: 20%;
      }
    }
    .hero-section-bottom-wonderfull {
      transform-style: preserve-3d;
      perspective-origin: 50% 384.5px;
      text-align: center;
      .iPhone14andiPhone14PlusText {
        position: absolute;
        right: -10%;
        left: -10%;
        margin: auto;
        top: -27vh;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
      }
    }
    .hero-section-bottom-wonderfullImages {
      height: 522px;
      width: 100%;
      display: flex;
      position: relative;
      img {
        position: absolute;
      }
      .image1 {
        left: 0;
        right: 25%;
        margin: auto;
      }
      .image2 {
        left: 0;
        right: 10%;
        margin: auto;
      }
      .image3 {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .image4 {
        right: 0;
        left: 15%;
        margin: auto;
      }
      .image5 {
        right: 0;
        left: 20%;
        margin: auto;
      }
    }
    .hero-section-last-price-link {
    }
  }
}
